nav{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    
}
.working{
    width: 25%;
    text-align: left;
}
